:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  display: inline-block;
}

img {
  object-fit: cover;
  display: flex;
}

body {
  height: 100%;
}
#root {
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex-grow: 1;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}
.main_title {
  font-size: 2.4rem;
  color: #333;
  text-align: center;
  margin-bottom: 2rem;
  margin-top: 4rem;
}

.main_description {
  font-size: 1.6rem;
  color: #666;
  text-align: center;
  margin-bottom: 4rem;
}
